spring:
  application:
    name: techmanage

  datasource:
    url: jdbc:mysql://localhost:3306/techmanage?useSSL=false&serverTimezone=UTC
    username: dev
    password: dev123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080
